.mypy_cache/
.vscode/
.venv/
.venv_col/
.venv_kri/
temp_folder/
~
sync.sh
translated_document/
cache
**/__pycache__/**
**/Temporary_Translation_Folder/**
**/Input_Folder_To_Be_Translated/**
**/Output_Folder_Translated/**