aioconsole
asyncio
autopep8
black
compose
docker
fastapi
flake8
jose
jwt
langdetect
lint
mongo
pdf2docx
pdfminer
pdfminer.six
pipdeptree
pipreqs
pyOpenSSL
pypdf
PyPDF2
PyPDF3
PyPDF4
python-dotenv
python-jose
redis
reportlab
sacremoses
sentencepiece
stubs
tensorflow
timeout
torchaudio
torchvision
transformers
types-tqdm
typing
uvicorn
websocket
websockets
