aioconsole
asyncio
compose
docker
fastapi
jose
jwt
pipdeptree
pipreqs
pymongo
pyOpenSSL
python-dotenv
python-jose
redis
sentencepiece
stubs
tensorflow
timeout
torchaudio
torchvision
transformers
types-requests
typing
uvicorn
websocket
websockets
